doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='images/favicon/favicon.svg')
    link(rel='icon' href='images/favicon/favicon.png')
    link(rel='apple-touch-icon' href='images/favicon/favicon.png')
  body
    block content
